.cms-login {
  h4,
  h6 {
    color: $font-color;
  }
}
.sidenav {
  background-color: rgba(238, 238, 238, 0.778);
  height: 100%;
  width: 12%;
  position: fixed;
  right: 0px;
  transition: 0.5s;
  display: block;
  li {
    list-style: none;
    .Link {
      font-size: 15px;
      text-align: right;
      transition: 0.2s;
      color: black;
      padding: 10%;
      margin-right: 2%;
      display: block;
    }
    &:not(:first-child):hover {
      color: rgb(82, 82, 82);
      text-decoration: none;
      background-color: rgba(3, 1, 0, 0.11);
      transition: 0.2s;
      cursor: pointer;
    }
    &:last-child {
      margin-top: 40vh;
      transition: transform 0.2s ease-in-out;
    }
    &:last-child:hover {
      background-color: inherit;
      transform: rotate(60deg);
    }
  }
  .dropdown-content {
    transition: 1s ease-in-out;
    position: absolute;
    bottom: 13%;
    right: 5%;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
        color: black;
      }
    }
    .dropdown-item {
      cursor: pointer;
    }
  }
}
.Category {
  width: 80%;
  margin-left: 3%;
  #PlusCircleIcon,
  .TrashIcon,
  #PencilAltIcon { 
    transition: .1s ease-in-out;
  }
  #PlusCircleIcon:hover,
  .TrashIcon:hover,
  #PencilAltIcon:hover {
    transform: scale(1.5);
    transition: .1s ease-in-out;
  }
}
#cmsNav {
  background-color: rgba(238, 238, 238, 0.778);
  .nav {
    margin-right: 170px;
    li {
      margin: auto 5px;
      a {
        color: black;
        &:hover {
          color: rgb(82, 82, 82);
          text-decoration: none;
        }
      }
    }
  }
  a {
    color: $font-color;
    &:hover {
      color: #eee;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .sidenav {
    right: -95px;
  }
  .Category {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .sidenav {
    width: 0%;
  }
  .Category {
    width: 100%;
  }
}
