$mainTheme1: linear-gradient(to bottom, #00000000, #0000006e, #000000);
$mainTheme2: linear-gradient(to bottom, #00000000, rgba(17, 24, 39, 0.575), rgb(17, 24, 39));
$bodyTheme: #eee;
$nav-button-hover : #86898d;


$profile-body-color: rgb(17, 24, 39);
$navbar-body-color : rgb(31, 41, 55);
$font-color : #86898d;
 
